@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

:root {
  ---mainTextColor: #fff;
  ---headerMenuColor: #abb7c4;
}

body {
  color: var(---mainTextColor);
  font-family: Dosis;
  font-size: 14px;
  background-color: #020E1B;
}

fieldset {
  border: none !important;
}

.top-rate-movie {
  background: url('./assets/images/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 60px;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 400px) {
  .custom-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}