@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
  ---mainTextColor: #fff;
  ---headerMenuColor: #abb7c4;
}

body {
  color: var(---mainTextColor);
  font-family: Dosis, sans-serif;
  font-size: 14px;
  background-color: #020e1b;
}

fieldset {
  border: none !important;
}

.main-bg {
  background: url('./assets/images/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
